.update-username-col-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.update-profile-pic-col-container {
  display: flex;
  flex-direction: column;
}

.update-username-row {
  display: flex;
  align-items: center;
}

.update-username-text {
  opacity: 0.7;
  margin-left: 5px;
}

.confirmation-input {
  font-size: 17px;
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  margin: auto 0 20px 0;
  color: #000;
}

.confirmation-input-dark {
  color: #000;
}

.confirmation-input-dark:disabled {
  color: #fff;
}

.confirmation-input:focus {
  outline: none;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.loader-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.update-user-button {
  height: 40px;
  width: 80px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.update-user-button:hover {
  opacity: 0.8;
}

.cancel-button {
  margin-left: auto;
  color: #f76e11;
  background-color: #fff;
  border: 1px solid #f76e11;
}

.create-button {
  margin-left: 20px;
  background-color: #f76e11;
  color: #fff;
  border: none;
}

.confirmation-pwd {
  margin-top: 10px;
}

.modal-passcode-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
