.main-layout-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eeeeee;
}

.top-section {
  display: flex;
  align-items: center;
  height: 12%;
  padding: 0 30px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info-photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.user-info-initial {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-section {
  flex: 1;
  background-color: #fffdfd;
}

.user-info-col-1 {
  display: flex;
  flex-direction: column;
}

.user-info-name {
  font-weight: bold;
  font-size: 1.1rem;
}

.user-info-chat-participants {
  font-size: 0.9rem;
  opacity: 0.7;
}

.icons-container {
  display: flex;
  align-items: center;
}

.media-icon {
  height: 25px;
  width: 25px;
  color: #f76e11;
  margin-right: 20px;
}

.control-icon {
  height: 25px;
  width: 25px;
  margin-left: 15px;
  color: rgb(102, 102, 102);
}

.body-section {
  margin: 30px;
  position: relative;
}

.type-message-section {
  position: absolute;
  bottom: 0;
  padding-top: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-input-container {
  display: flex;
  width: 90%;
  border: 1px solid #ccc;
  height: 36px;
  border-radius: 20px;
  padding: 3px 15px;
}

.input-field {
  width: 85%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}

.right-divider {
  height: 100%;
  border-right: 1px solid #ccc;
}

.send-button-container {
  height: 36px;
  width: 36px;
  background-color: #f3dcc7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.emoji-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.microphone-icon {
  margin-right: 15px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.attachment-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.send-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: #f76e11;
}
