.chat-container {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.alert {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
  padding: 7px;
  width: 20rem;
  height: 3rem;
  z-index: 2;
}

.alert-success {
  background-color: var(--success);
}

.alert-info {
  background-color: var(--info);
}

.alert-container {
  display: flex;
  height: 100%;
}

.alert-content {
  color: #fff;
  width: 90%;
  height: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
}

.alert-close {
  height: 18px;
  width: 18px;
  margin-left: auto;
  color: #fff;
  cursor: pointer;
}
