.message-container {
  display: flex;
  margin-bottom: 40px;
  width: 35%;
}

.message-container-align-right {
  margin-left: auto;
}

.message-sender-photo {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.message-sender-initial {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

.message-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.message-info {
  display: flex;
  margin-bottom: 10px;
}

.message-owner {
  margin-right: 20px;
}

.message-time {
  opacity: 0.5;
  font-size: 13px;
}

.message-original {
  border: 1px solid #ccc;
  padding: 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100%;
}

.attachments-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.attachement-name {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 7px;
  margin-bottom: 10px;
  width: 42%;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
  font-size: 13px;
  height: 60px;
  cursor: pointer;
  color: #0430b2;
}
