.container {
  height: 100vh;
  display: flex;
  overflow-y: hidden;
}

.col {
  width: 50%;
}

.col-1 {
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg-bg {
  height: 60%;
}

.quick-chat-heading {
  font-size: 1.8rem;
  color: #f76e11;
  font-weight: 700;
  font-family: Arial;
}

.col-2 {
  background-color: #f76e11;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}

.welcome-heading-container {
  width: 100%;
  position: relative;
  height: 50px;
  margin-bottom: 2.5rem;
}

.welcome-heading {
  font-size: 3rem;
  position: absolute;

  animation-name: slideInFromLeft, shake;
  animation-duration: 3s, 0.5s;
  animation-delay: 0s, 3s;
  animation-iteration-count: 1, 5;
  animation-timing-function: linear;

  /* Default for slideInFromLeft */
  left: 30%;
  top: 0;

  /* Default for shake */
  transform: rotate(0deg);
}

@keyframes slideInFromLeft {
  from {
    left: 0;
  }
  to {
    left: 30%;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.quick-chat-info-container {
  display: flex;
  width: 100%;
  height: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  position: relative;
}

.quick-chat-text {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Arial;
  display: block;
  position: absolute;
  top: 0;
  animation: slideInFromBottom 3s;
}

@keyframes slideInFromBottom {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}

.quick-chat-features {
  font-size: 1.1rem;
  margin-bottom: 80px;
  font-family: Arial;
}

li {
  margin-bottom: 10px;
  list-style-type: none;
}

.btn-start-now {
  border: none;
  height: 3rem;
  width: 50%;
  background: #2f2e41;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}

.btn-start-now:hover {
  background: #fff;
  color: #f76e11;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    position: relative;
  }

  .col-1 {
    position: absolute;
    top: 50%;
  }

  .col-2 {
    position: absolute;
    top: 0;
  }

  .col {
    width: 100%;
    height: 50%;
  }

  .welcome-heading {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .quick-chat-text {
    font-size: 1rem;
  }

  .quick-chat-features {
    font-size: 1rem;
    margin-bottom: 40px;
  }

  .btn-start-now {
    height: 3rem;
    width: 40%;
    font-size: 0.9rem;
  }
}

@media (max-width: 992px) {
  .col-1 {
    display: none;
  }

  .col-2 {
    height: 100%;
  }

  .welcome-heading {
    font-size: 3rem;
  }

  .btn-start-now {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .welcome-heading {
    font-size: 2.5rem;
    left: 25%;
  }

  @keyframes slideInFromLeft {
    from {
      left: 0;
    }
    to {
      left: 25%;
    }
  }
}
