.notification-container {
  height: 100%;
}

.notification-wrapper {
  height: 98%;
  overflow-y: auto;
  padding: 0 15px;
}

.notification-single-wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e7e7;
  height: 40px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  cursor: pointer;
  font-size: 14px;
}

.notification-single-wrapper:hover {
  opacity: 0.6;
}

.notification-bg-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}

.notification-bg {
  height: 15vh;
  width: 10vw;
  margin-bottom: 20px;
}
