.top-section {
  display: flex;
  align-items: center;
  height: 10%;
  padding: 0 30px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info-photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.user-info-initial {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info-col-1 {
  display: flex;
  flex-direction: column;
}

.user-info-name {
  font-weight: bold;
  font-size: 1.1rem;
}

.user-info-photo-or-initial-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.user-info-initial {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

.user-info-initial:nth-child(2) {
  left: 35px;
  position: absolute;
}

.user-info-img{
  object-fit: cover;
}

.user-info-others {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-left: 20px;
}

.icons-container {
  display: flex;
  align-items: center;
  position: relative;
}

.media-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: #f76e11;
  margin-right: 20px;
}

.control-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-left: 15px;
  color: rgb(102, 102, 102);
}

.more-items-dropdown {
  position: absolute;
  background-color: #fff;
  top: 25px;
  right: 0;
  border-radius: 5px;
  width: 170px;
  box-shadow: -2px 7px 16px -3px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: -2px 7px 16px -3px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: -2px 7px 16px -3px rgba(0, 0, 0, 0.34);
}

.more-items-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  z-index: 2;
}

.more-items-row:nth-child(1) {
  border-bottom: 1px solid #e6e6e6;
}

.more-items-row:hover {
  opacity: 0.7;
}
