.sidebar-container {
  width: 25%;
  height: 100%;
  border-right: 1px solid #eeeeee;
}

.sidebar-container-dark {
  border-right: 1px solid #555;
}

.sidebar-row-1 {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #ccc;
}

.sidebar-row-1-dark {
  background-color: #000;
}

.profile-photo-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #aaa;
}

.profile-initial {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
  cursor: pointer;
  color: #272727;
}

.profile-claret-down {
  color: #272727;
}

.profile-claret-down-dark {
  color: #ccc;
}

.sidebar-row-1-dark > .profile-initial {
  color: #000;
}

.btn-start-convo {
  background-color: #f76e11;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 15px;
  cursor: pointer;
}

.btn-start-convo-text {
  font-size: 1rem;
}

.btn-start-convo:hover {
  opacity: 0.7;
}

.plus-circle-icon {
  margin-left: 10px;
  height: 20px;
  width: 20px;
  color: #fff;
}

.sidebar-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 0;
  height: 40px;
}

.centered-container {
  display: flex;
  align-items: center;
}

.messages-title {
  color: #f76e11;
  font-size: 1rem;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.bookmark-icon {
  height: 17px;
  width: 17px;
  cursor: pointer;
  margin-left: 20px;
}

.bookmark-icon-active {
  color: #f76e11;
}

.search-row-container {
  padding: 0 15px;
  margin: 15px 0 15px;
  height: 40px;
}

.search-row {
  height: 35px;
  display: flex;
  background-color: #f7f7f7;
  align-items: center;
  width: 100%;
  border-radius: 5px;
}

.search-icon {
  height: 16px;
  width: 16px;
  margin-left: 10px;
  color: #000;
}

.search-input {
  width: 100%;
  background-color: #f7f7f7;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 10px;
  border-radius: 20px;
}

.chat-list-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100% - 200px);
}

.shimmer-row-1-container {
  height: 10%;
  width: 100%;
}

.shimmer-row-1-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.shimmer-profile-photo {
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.shimmer-start-convo {
  background-color: rgba(247, 110, 17, 0.7);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 15px;
  width: 60%;
}

.shimmer-chat-info-container {
  background-color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.shimmer-chat-info-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.shimmer-info-initial {
  background-color: #fff;
}

.shimmer-chat-info-name-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.shimmer-chat-info-name {
  width: 70%;
  background-color: #fff;
  height: 15px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.shimmer-chat-info-name-2 {
  width: 40%;
  background-color: #fff;
  height: 10px;
  border-radius: 10px;
}

.no-bookmark-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.no-bookmark-svg {
  height: 150px;
  width: 150px;
}

.profile-row-close-btn {
  display: none;
}

@media (max-width: 1400px) {
  .sidebar-row-1 {
    padding: 0 10px;
  }
}

@media (max-width: 1200px) {
  .sidebar-container {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .sidebar-container {
    width: 25%;
  }

  .sidebar-row-1 {
    justify-content: center;
  }

  .profile-photo {
    /* display: none; */
  }
}

@media (max-width: 969px) {
  .plus-circle-icon {
    display: none;
  }

  .btn-start-convo {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .sidebar-container {
    display: none;
  }

  .sidebar-menu {
    width: 100%;
    z-index: 3;
    display: flex;
    position: fixed;
    height: 100%;
    flex-direction: column;
    background-color: #fff;
  }

  .sidebar-menu-dark {
    background-color: #000;
  }

  .sidebar-row-1-justify {
    justify-content: space-between;
  }

  .profile-row-close-btn {
    height: 25px;
    width: 25px;
    cursor: pointer;
    display: block;
    color: #aaa;
  }
}
