.sidebar-container {
  width: 25%;
  height: 100%;
  border-right: 1px solid #eeeeee;
}

.sidebar-row-1 {
  display: flex;
  background-color: #f8f8f8;
  justify-content: space-between;
  height: 10%;
  align-items: center;
  padding: 0 30px;
}

.profile-photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.profile-initial {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
  cursor: pointer;
}

.btn-start-convo {
  background-color: #f76e11;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 15px;
  cursor: pointer;
}

.btn-start-convo-text {
  font-size: 1rem;
}

.btn-start-convo:hover {
  opacity: 0.7;
}

.plus-circle-icon {
  margin-left: 10px;
  height: 20px;
  width: 20px;
  color: #fff;
}

.row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 50px;
}

.centered-container {
  display: flex;
  align-items: center;
}

.messages-title {
  color: #f76e11;
  font-size: 1rem;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.bookmark-icon {
  height: 17px;
  width: 17px;
  cursor: pointer;
  margin-left: 20px;
}

.bookmark-icon-active {
  color: #f76e11;
}

.search-row {
  margin: 5px 40px;
  height: 40px;
  display: flex;
  background-color: #f7f7f7;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 30px;
}

.search-icon {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.search-input {
  width: calc(100% - 15px);
  height: 100%;
  background-color: #f7f7f7;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 10px;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.shimmer-row-1-container {
  height: 10%;
  width: 100%;
}

.shimmer-row-1-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.shimmer-profile-photo {
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.shimmer-start-convo {
  background-color: rgba(247, 110, 17, 0.7);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 15px;
  width: 70%;
}

.shimmer-chat-info-container {
  background-color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.shimmer-chat-info-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.shimmer-info-initial {
  background-color: #fff;
}

.shimmer-chat-info-name-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.shimmer-chat-info-name {
  width: 70%;
  background-color: #fff;
  height: 15px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.shimmer-chat-info-name-2 {
  width: 40%;
  background-color: #fff;
  height: 10px;
  border-radius: 10px;
}

@media (max-width: 1400px) {
  .sidebar-row-1 {
    padding: 0 10px;
  }
}

@media (max-width: 1200px) {
  .sidebar-container {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .sidebar-container {
    width: 25%;
  }

  .sidebar-row-1 {
    justify-content: center;
  }

  .profile-photo {
    display: none;
  }
}

@media (max-width: 969px) {
  .plus-circle-icon {
    display: none;
  }

  .btn-start-convo {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .sidebar-container {
    display: none;
  }
}
